header {
    width: 100% auto 0;
    background-color: dimgray;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
    padding: 0px 0px;
    line-height: 100px;
}

#logo {
    margin: 15px 30px;
}

nav {
    display: inline-block;
    width: 150px;
    text-align: center;
    background-color: dimgray; 
}

#hero-image {
    margin: 15px 30px;
}


.sub-banner {
    margin: 15px 15px;
}
#subfirst {
    margin: 15px 15px 15px 30px;
}

#featured-section-banner {
    float: left;
}

.featured-section {
    width: 480;
    height: 400;
}

footer {
    height: 120px;
    background-color: dimgray;
}

